<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Simplex | {% block title %}{% endblock %}</title>
    <link href="{{ asset('spectre.min.css', 'css') }}" rel="stylesheet">
    <link href="{{ asset('app.css', 'css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

</head>
<body>
{% include 'navbar.twig' %}

<div class="container">
    {% if flash.has('success') %}
        {% for success in flash.get('success') %}
            <div class="toast toast-success my-2">{{ success }}</div>
        {% endfor %}
    {% endif %}
    {% block content %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
