<header class="navbar">
    <section class="navbar-section">
        <a href="{{ route('simplex_home') }}" class="navbar-brand h1 mr-2">Simplex</a>
    </section>
    <section class="navbar-section">
        {% if current_user() %}
            <div class="form-group form-inline">
                <form action="{{ route('auth_logout') }}" method="post">
                    {{ csrf_field() }}
                    <button class="btn">Logout</button>
                </form>
        </div>
        {% else %}
            <a href="{{ route('auth_login') }}" class="btn">Login</a>
        {% endif %}
    </section>
</header>