{% extends '@jobeet/layout.twig' %}

{% block title %}New Affiliate{% endblock %}

{% block body %}
    <h3>Register as affiliate</h3>
    {% include '@jobeet/affiliate/form.twig' with {action: route('affiliate_create')} %}
{% endblock %}