{% extends '@jobeet/layout.twig' %}

{% block title %}Successful registration{% endblock %}

{% block body %}
    <h4>Your affiliation request has been created</h4>
    <div class="py-2">
        Thank you!
        You'll receive an email with your token as soon as your account will be activated.
        Regards...
    </div>
{% endblock %}