{% extends 'layout.twig' %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="center">
        <h1>Whoops, something went wrong on our servers.</h1>
    </div>
{% endblock %}