admin_jobeet_home:
  path: /affiliates
  controller: App\JobeetModule\Admin\Actions\AffiliateManageAction:list

admin_jobeet_affiliate_create:
  path: /affiliates/new
  controller: App\JobeetModule\Admin\Actions\AffiliateManageAction:create
  methods: ['GET', 'POST']

admin_jobeet_affiliate_activate:
  path: /affiliates/activate/{id}
  controller: App\JobeetModule\Admin\Actions\AffiliateManageAction:activate
  methods: ['POST']
  requirements:
    id: '\d+'

admin_jobeet_affiliate_edit:
  path: /affiliates/edit/{id}
  controller: App\JobeetModule\Admin\Actions\AffiliateManageAction:edit
  methods: ['GET', 'POST']
  requirements:
    id: '\d+'

admin_jobeet_affiliate_delete:
  path: /affiliates/delete/{id}
  controller: App\JobeetModule\Admin\Actions\AffiliateManageAction:delete
  methods: ['DELETE']
  requirements:
    id: '\d+'

#Admin Job routes

admin_jobeet_job_list:
  path: /jobs
  controller: App\JobeetModule\Admin\Actions\JobManageAction:list
  methods: ['GET']

admin_jobeet_job_show:
  path: /jobs/{id}
  controller: App\JobeetModule\Admin\Actions\JobManageAction:single
  methods: ['GET']
  requirements:
    id: '\d+'

admin_jobeet_job_edit:
  path: /jobs/{id}/edit
  controller: App\JobeetModule\Admin\Actions\JobManageAction:edit
  methods: ['GET']
  requirements:
    id: '\d+'

admin_jobeet_job_update:
  path: /jobs/{id}/edit
  controller: App\JobeetModule\Admin\Actions\JobManageAction:update
  methods: ['POST']
  requirements:
    id: '\d+'

admin_jobeet_job_delete:
  path: /jobs/{id}/delete
  controller: App\JobeetModule\Admin\Actions\JobManageAction:delete
  methods: ['DELETE']
  requirements:
    id: '\d+'

#Category admin routes
admin_jobeet_category_list:
  path: /categories
  controller: App\JobeetModule\Admin\Actions\CategoryManageAction:list
  methods: ['GET']


admin_jobeet_category_create:
  path: /categories/new
  controller: App\JobeetModule\Admin\Actions\CategoryManageAction:create
  methods: [GET, POST]

admin_jobeet_category_edit:
  path: /category/{id}
  controller: App\JobeetModule\Admin\Actions\CategoryManageAction:edit
  methods: ['GET']
  requirements:
    id: '\d+'

admin_jobeet_category_update:
  path: /category/{id}
  controller: App\JobeetModule\Admin\Actions\CategoryManageAction:update
  methods: [POST]
  requirements:
    id: '\d+'

admin_jobeet_category_delete:
  path: /category/{id}
  controller: App\JobeetModule\Admin\Actions\CategoryManageAction:delete
  methods: [DELETE]
  requirements:
    id: '\d+'