.container {
    max-width: 960px;
    margin: auto;
    width: 80%
}

.navbar {
    background-color: rgba(241, 246, 251, 0.99);
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar .navbar-brand {
    font-size: 1rem;
}