{% extends '@banku/layout/base.twig' %}

{% block content %}
    <div class="row pad-botm">
        <div class="col-md-12">
            <h4 class="header-line">DASHBOARD</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="alert alert-success back-widget-set text-center">
                <i class="fa fa-bank fa-5x"></i>
                <h3>{{ branches }}</h3>
                Total Branches
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="alert alert-warning back-widget-set text-center">
                <i class="fa fa-bookmark fa-5x"></i>
                <h3>{{ accounts }}</h3>
                Accounts
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="alert alert-danger back-widget-set text-center">
                <i class="fa fa-book fa-5x"></i>
                <h3>{{ transactions }}</h3>
                Transactions
            </div>
        </div>

    </div>
{% endblock %}