<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2019 banku.simplex.io |<a href="http://www.binarytheme.com/" target="_blank"> Designed by :
                    binarytheme.com</a>
            </div>

        </div>
    </div>
</section>
