<section class="menu-section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a href="{{ route('banku_home') }}" class="menu-top-active">DASHBOARD</a></li>

                        <li>
                            <a href="#" class="dropdown-toggle" id="account-menu" data-toggle="dropdown">ACCOUNTS<i
                                        class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="account-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1"
                                                           href="{{ route('account_list') }}">ALL ACCOUNTS</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADD NEW</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" id="customer-menu" data-toggle="dropdown">CUSTOMERS<i
                                        class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="customer-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">VIEW ALL</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADD NEW</a></li>
                            </ul>
                        </li>
                        <li><a href="#">TRANSACTIONS</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" id="branch-menu" data-toggle="dropdown">BRANCHES<i
                                        class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="branch-menu">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">VIEW ALL</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADD NEW</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
