<!-- Logout Modal-->
<div class="modal modal-sm" id="logout-modal">
    <span class="modal-overlay"></span>
    <div class="modal-container">
        <div class="modal-header">
            <h5 class="modal-title">Ready to Leave?</h5>
        </div>
        <div class="modal-body">
            <div class="content">
                Select "Logout" below if you are ready to end your current session.
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary modal-toggle" data-target="logout-modal">
                Cancel
            </button>
            <button class="btn btn-primary"
               onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Logout
            </button>
        </div>
        <form id="logout-form" action="{{ route('auth_logout') }}" method="POST" style="display: none;">
            {{ csrf_field() }}
        </form>
    </div>
</div>