<!-- Navigation bar -->
<header class="navbar p-2 bg-darker text-light">
    <section class="navbar-section">
        <div class="navbar-brand">Admin Dashboard</div>
    </section>
    <section class="navbar-section">
        <div class="input-group input-inline hide-sm">
            <input type="text" class="form-input" placeholder="Search...">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div>
        <div class="menu-item ml-2">
            <button class="btn btn-primary modal-toggle" data-target="logout-modal">
                <i class="icon icon-shutdown"></i> <span>Logout</span>
            </button>
        </div>
    </section>
</header>
<!-- End Navigation bar -->