<!-- Sidebar -->
<div class="admin-sidebar">
    <div class="">
        <div class="accordion">
            <input type="hidden" name="sidebar-checkbox" id="dashboard-checkbox">
            <label for="dashboard-checkbox" class="accordion-header">
                Dashboard
            </label>
        </div>
        <div class="accordion">
            <input type="hidden" name="sidebar-checkbox" id="dashboard-users">
            <label for="dashboard-users" class="accordion-header">
                Users
            </label>
        </div>
        <li class="nav-item my-2 px-1 py-1">
            <a href="#">
                <i class="icon icon-edit"></i>
                <span class="hide-sm">Comments</span>
            </a>
        </li>
        <li class="nav-item my-2 px-1 py-1">
            <div class="accordion">
                <input type="checkbox" name="accordion-checkbox" id="posts-accordion" hidden>
                <label class="accordion-header" for="posts-accordion">
                    <i class="icon icon-arrow-right"></i>
                    <span class="hide-sm">Posts</span>
                </label>
                <div class="accordion-body">
                    <ul class="menu menu-nav">
                        <li class="menu-item">
                            <a href="#">
                                <i class="icon icon-message"></i>
                                <span>All Posts</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu menu-nav">
                        <li class="menu-item">
                            <a href="#">
                                <i class="icon icon-check"></i>
                                <span>Published</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu menu-nav">
                        <li class="menu-item">
                            <a href="#">
                                <i class="icon icon-time"></i>
                                <span>Draft</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="menu menu-nav">
                        <li class="menu-item">
                            <a href="#">
                                <i class="icon icon-plus"></i>
                                <span>New Post</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </div>
</div>
<!-- End Sidebar -->