<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}Simplex Admin{% endblock %}</title>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/spectre.min.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/kadmin.css"/>
    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include '@admin/layout/nav.twig' %}

{# include '@admin/layout/sidebar.twig' #}
<div>
    <div class="container my-2">
        {% for success in flash.get('success') %}
            <div class="mt-1 toast toast-success">
                <button class="btn btn-clear float-right"></button>
                {{ success }}
            </div>
        {% endfor %}

        {% for error in flash.get('error') %}
            <div class="mt-1 toast toast-success">
                <button class="btn btn-clear float-right"></button>
                {{ error }}
            </div>
        {% endfor %}

        {% block content %}{% endblock %}
    </div>
</div>

{% include '@admin/layout/logout_modal.twig' %}

<script src="/js/kadmin.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>