<div class="my-2">
    <h1>
        <a href="{{ route('jobeet_home') }}">
            Jobeet
        </a>
    </h1>
    <div class="columns">
        {# <form method="post" action="{{ route('job_search') }}" class="column col-6 col-mr-auto">
            <div class="input-group ">
                {{ csrf_field() }} #}
        <div class="input-group column col-6 col-mr-auto">
            <input class="form-input" type="text" placeholder="Live Search" name="search">
            <button class="btn btn-primary input-group-btn">Search</button>
        </div>
        {#</form>#}
        <div class="col-2 text-right mr-2">
            <a href="{{ route('job_new') }}" class="btn btn-primary">Post a job</a>
        </div>
    </div>
</div>
<p></p>
<p></p>