{% extends '@admin/layout.twig' %}

{% block title %}Edit Affiliate{% endblock %}

{% block content %}
    <h3>Edit an affiliate</h3>
    {% include '@jobeet/affiliate/form.twig' with {affiliate: affiliate} %}
{% endblock %}